.new-url-container {
  margin-top: 30px;
}

.all-urls-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.header-line {
  font-weight: bold;
}

.url {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  .original-url-column {
    width: 600px;
    margin: 10px;
  }
  .short-url-column {
    width: 400px;
    margin: 10px;
  }
  .clicks-column {
    width: 100px;
    margin: 10px;
  }
}
